* {
  box-sizing: border-box;
}

main {
  margin: 0em;
  line-height: 1.5em;
}

.btn {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div {
  margin-bottom: 0.625em;
}

.nobr {
  white-space: nowrap;
}

.card {
  border-radius: 0.25em;
  overflow: auto;
  padding: 1.5em;
  padding-bottom: 0em;
  padding-top: 0em;
}

/* DDG search widget,@author Juri Wornowitski,@version 3.0,@link https://www.plainlight.com/ddg */

#widdget input {
  border-radius: 3px 0 0 3px;
  border-right: 0;
  border: 1px solid #8d8d8d;
  box-sizing: border-box;
  display: block;
  font-size: 15px;
  height: 30px;
  outline: none;
  padding: 4px;
  width: calc(100% - 41px);
}

#widdget button {
  background-image: linear-gradient(#cacaca, #929292);
  border-radius: 0 3px 3px 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: left;
  height: 30px;
  padding: 0;
  width: 43px;
}

#widdget button:active {
  background-image: linear-gradient(#909090, #585858);
}

#widdget button:focus {
  outline: none;
}

/*html {
  background: url(/images/buttons/jefbecker/cube_cian.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: optimizeSpeed;
  filter: blur(0px);
}*/

.skip-to-main-content-link {
  padding-left: 0.625em;
  position: absolute;
  transform: translateY(-500%);
}

.skip-to-main-content-link:focus {
  transform: translateY(0%);
}

.anchor {
  display: block;
  position: relative;
  top: -30vh;
  visibility: hidden;
}

body {
  font-family: system-ui;
  font-size: 1em;
  margin: 0.625em auto;
  max-width: 50em;
  padding: 0 0.625em;
}

header {
  border-radius: 0.25em;
  font-family: system-ui;
  font-size: 1em;
  margin: 0.625em auto;
  max-width: 50em;
  padding: 0.625em;
  text-align: center;
}

.title {
  padding: 0em 0em 0em;
  text-align: center;
}

article {
  margin: 0.625em auto;
  padding: 0 0 0em;
}

code {
  border-radius: 0.25em;
  font-size: medium;
  padding: 0.1875em;
}

blockquote {
  font-size: 0.875em;
  padding-left: 0.625em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 1.25em;
}

summary {
  border-radius: 0.25em;
  cursor: pointer;
}

details {
  border-radius: 0.25em;
  margin-bottom: 0.625em;
  padding-block: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

textarea {
  border-radius: 0.25em;
  box-sizing: border-box;
  height: 15em;
  padding: 1em;
  width: 100%;
}

button {
  border-radius: 0.25em;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td,
th {
  border: 0.0625em solid #e5e5e5;
  padding: 0.5em;
  text-align: left;
}

form {
  border-radius: 0.25em;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;

}

figure {
  display: block;
  margin: 0 0 0;
  max-width: 100%;
}

.atx {
  font-family: system-ui;
  font-size: 1em;
}

.responsive {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container>div {
  padding: 0.625em;
  text-align: center;
}

.card-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav-flex-container {
  flex-wrap: wrap;
  gap: 0.2em;
  margin-bottom: 0em;
  align-items: center;
  justify-content: center;
}

.footer-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

footer {
  border-radius: 0.25em;
  font-size: 1em;
  padding: 0.625em;
  text-align: center;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #e5e5e5;
  }

  header {
    background-color: #333;

    /* Header decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  footer {
    background-color: #333;

    /* Footer decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  blockquote {
    border-left: 0.3125em solid #e5e5e5;
  }

  code {
    background-color: #333;
  }

  button {
    background-color: #e5e5e5;
    border-color: #545454 #000 #000 #545454;
    color: #222;
  }

  button:focus {
    outline-color: #26D9D6;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  details,
  summary {
    background-color: #333;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    padding: 0 0.3125em 0.625em;
    width: 50%;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -0.3125em;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 37.5em) {
    .column {
      margin-bottom: 0.625em;
      width: 100%;
    }
  }

  .card {
    background-color: #333;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn .active {
    background-color: #055252 !important;
    border-color: #000 #545454 #545454 #000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
  }

  .btn a {
    border-color: #545454 #000 #000 #545454;
    border-radius: 0.25em;
    border: 0.125em solid #222;
    cursor: pointer;
    margin-top: 0em;
    padding: 0.1em 0.15em 0.15em 0.15em;
    text-align: start;
  }

  .btn a:link {
    background-color: #e5e5e5;
    color: #222;
    text-decoration: none;
  }

  .btn a:visited {
    background-color: #e5e5e5;
    border-color: #545454 #000 #000 #545454;
    border-radius: 0.25em;
    color: #222;
    margin: auto;
    padding: 0.0625em;
  }

  .btn a:focus {
    border-radius: 0.25em;
    border: 0.125em solid #222;
    font-weight: normal;
  }

  .btn a:hover {
    border-color: #545454 #000 #000 #545454;
  }

  .btn a:active {
    border-color: #000 #545454 #545454 #000;
  }

  a {
    outline-color: transparent;
  }

  a:link {
    color: #26D9D6;
    text-decoration: underline;
  }

  a:visited {
    color: #D1E6E5;
    text-decoration: underline;
  }

  a:focus {
    outline-color: #26D9D6;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  a:hover {
    color: #26D9D6;
    outline-color: transparent;
    text-decoration: underline;
  }

  a:active {
    outline-color: transparent;
  }

}

@media only screen and (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #222;
  }

  header {
    background-color: #e5e5e5;

    /* Header decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  footer {
    background-color: #e5e5e5;

    /* Footer decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  code {
    background-color: #e5e5e5;
  }

  blockquote {
    border-left: 0.3125em solid #333;
  }

  details,
  summary {
    background-color: #e5e5e5;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    padding: 0 0.3125em 0.625em;
    width: 50%;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -0.3125em;
  }

  /* Clear floats after the columns */
  .row:after {
    clear: both;
    content: "";
    display: table;
  }

  /* Responsive columns */
  @media screen and (max-width: 37.5em) {
    .column {
      margin-bottom: 0.625em;
      width: 100%;
    }
  }

  .card {
    background-color: #e5e5e5;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background-color: #e5e5e5;
    border-color: #545454 #000 #000 #545454;
    color: #222;
  }

  button:focus {
    outline-color: #055252;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  .active {
    background-color: #055252 !important;
    border-color: #000 #545454 #545454 #000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
  }

  .btn a {
    border-color: #545454 #000 #000 #545454;
    border-radius: 0.25em;
    border: 0.125em solid #222;
    cursor: pointer;
    margin: auto;
    padding: 0.1em 0.15em 0.15em 0.15em;
    text-align: start;
  }

  .btn a:link {
    background-color: #e5e5e5;
    color: #222;
    text-decoration: none;
  }

  .btn a:visited {
    background-color: #e5e5e5;
    border-color: #545454 #000 #000 #545454;
    border-radius: 0.25em;
    color: #222;
    margin: auto;
    padding: 0 0.2em 0.2em;
  }

  .btn a:focus {
    border-radius: 0.25em;
    border: 0.125em solid #222;
    font-weight: normal;
  }

  .btn a:hover {
    border-color: #545454 #000 #000 #545454;
  }

  .btn a:active {
    border-color: #000 #545454 #545454 #000;
  }

  a {
    outline-color: transparent;
    padding: 0;
  }

  a:link {
    color: #055252;
    text-decoration: underline;
  }

  a:visited {
    color: #055252;
    text-decoration: underline;
  }

  a:focus {
    outline-color: #055252;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  a:hover {
    color: #055252;
    outline-color: transparent;
    text-decoration: underline;

  }

  a:active {
    outline-color: transparent;
  }

}

@media only screen and (max-width: 45em) {

  /* Styles for small screens (e.g., mobile devices) */

}

@media only screen and (min-width: 37.5625em) and (max-width: 1020.25em) {

  /* Styles for medium-sized screens (e.g., tablets) */
}

@media only screen and (min-width: 1020.3125em) {

  /* Styles for large screens (e.g., desktops) */
}