* {
  box-sizing: border-box;
}

main {
  margin: 0em;
  line-height: 1.5em;
}

.btn {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div {
  margin-bottom: 0.625em;
}

hr {
  margin-bottom: 1em;
}

.nobr {
  white-space: nowrap;
}

.card {
  border-radius: 0.25em;
  overflow: auto;
  padding: 1em;
  padding-bottom: 0.5em;
  padding-top: 0em;
}

/* DDG search widget,@author Juri Wornowitski,@version 3.0,@link https://www.plainlight.com/ddg */

#widget input {
  border-radius: 0.25em 0 0 0.25em;
  border-right: 0;
  border: 1px solid #222;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  height: 2em;
  outline: none;
  padding: 4px;
  width: calc(100% - 41px);
}

#widget button {
  background-image: linear-gradient(#cacaca, #929292);
  border-radius: 0 0.25em 0.25em 0;
  border: 0;
  color: #e5e5e5;
  cursor: pointer;
  float: left;
  height: 2.37em;
  padding: 0;
  width: 2.999em;
}

#widget button:active {
  background-image: linear-gradient(#909090, #585858);
}

#widget button:focus {
  outline: none;
}

/*html {
  background: url(/images/buttons/jefbecker/cube_cyan.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: optimizeSpeed;
  filter: blur(0px);
}*/

.skip-to-main-content-link {
  padding-left: 0.625em;
  position: absolute;
  transform: translateY(-500%);
}

.skip-to-main-content-link:focus {
  transform: translateY(0%);
}

.anchor {
  display: block;
  position: relative;
  top: -30vh;
  visibility: hidden;
}

body {
  font-family: system-ui;
  font-size: 1em;
  margin: 0.625em auto;
  max-width: 50em;
  padding: 0 0.625em;
}

header {
  border-radius: 0.25em;
  font-family: system-ui;
  font-size: 1em;
  margin: 0.625em auto;
  max-width: 50em;
  padding: 0.625em;
  text-align: center;
}

.title {
  padding: 0em 0em 0em;
  text-align: center;
  line-height: normal;
}

article {
  margin: 0.625em auto;
  padding: 0 0 0em;
}

code {
  border-radius: 0.25em;
  font-size: medium;
  padding: 0.1875em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

blockquote {
  font-size: 0.875em;
  padding-left: 0.625em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 1.25em;
}

summary {
  border-radius: 0.25em;
  cursor: pointer;
}

details {
  border-radius: 0.25em;
  margin-bottom: 0.625em;
  padding-block: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

textarea {
  border-radius: 0.25em;
  box-sizing: border-box;
  height: 15em;
  padding: 1em;
  width: 100%;
}

button {
  border-radius: 0.25em;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td,
th {
  border: 0.0625em solid #e5e5e5;
  padding: 0.5em;
  text-align: left;
}

form {
  border-radius: 0.25em;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  display: block;
  margin: 0 0 0;
  max-width: 100%;
}

.atx {
  font-family: system-ui;
  font-size: 1em;
}

.responsive {
  width: 100%;
}

.card-flex-container>code>a {
  text-decoration: none;
}

.card-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: left;
}

.bottom-nav-flex-container {
  display: flex;
  justify-content: space-between;
}

.bottom-nav-flex-container>code {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  text-align: center;
  width: 8em;
}

.bottom-nav-flex-container>code>a {
  text-decoration: none;
}

.grid-flex-container>code>a {
  text-decoration: none;
}

.grid-flex-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.grid-flex-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.nav-flex-container {
  flex-wrap: wrap;
  gap: 0.2em;
  margin-bottom: 0em;
  align-items: center;
  justify-content: center;
}

.footer-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

footer {
  border-radius: 0.25em;
  font-size: 1em;
  padding: 0.625em;
  text-align: center;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #e5e5e5;
  }

  header {
    background-color: #333;

    /* Header decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  footer {
    background-color: #333;

    /* Footer decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  blockquote {
    border-left: 0.3125em solid #e5e5e5;
  }

  code {
    background-color: #333;
  }

  .inverted code {
    background-color: #222;
  }

  button {
    background-color: #e5e5e5;
    border-color: #545454 #000 #000 #545454;
    color: #222;
  }

  button :focus {
    outline-color: #055252;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  details,
  summary {
    background-color: #333;
  }

  details :focus {
    outline-color: #26D9D6;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    padding: 0 0.3125em 0.625em;
    width: 50%;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -0.3125em;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 37.5em) {
    .column {
      margin-bottom: 0.625em;
      width: 100%;
    }
  }

  .card {
    background-color: #333;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background-color: #e5e5e5;
    border-color: #545454 #000 #000 #545454;
    color: #222;
  }

  button:focus {
    outline-color: #26D9D6;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  /* General anchor styles */
  a {
    outline-color: transparent;
  }

  a:link {
    color: #26D9D6;
    text-decoration: underline;
  }

  a:visited {
    color: #26D9D6;
    text-decoration: underline;
  }

  a:focus {
    outline-color: #26D9D6;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  a:hover {
    color: #26D9D6;
    outline-color: transparent;
    text-decoration: underline;
  }

  a:active {
    outline-color: transparent;
  }

  /* Button styles */
  .btn a {
    border: 0.125em solid #222;
    border-radius: 0.25em;
    border-color: #545454 #000 #000 #545454;
    cursor: pointer;
    margin-top: 0em;
    padding: 0.1em 0.15em 0.15em 0.15em;
    text-align: start;
    background-color: #e5e5e5;
    color: #222;
    text-decoration: none;
    white-space: nowrap;
  }

  .btn a:visited {
    color: #222;
    margin: auto;
    padding: 0.0625em;
    white-space: nowrap;
  }

  .btn a:focus {
    border-radius: 0.25em;
    border: 0.125em solid #222;
    font-weight: normal;
    white-space: nowrap;
  }

  .btn a:hover {
    border-color: #545454 #000 #000 #545454;
    white-space: nowrap;
  }

  .btn a:active {
    border-color: #000 #545454 #545454 #000;
    white-space: nowrap;
  }

  /* Active button (higher specificity) */
  .btn a.active {
    background-color: #055252;
    border-color: #000 #545454 #545454 #000;
    color: #ffffff;
    font-weight: bold;
    white-space: nowrap;
  }

  /* Completed Collection */
  .btn a.current {
    background-color: #055252;
    border-color: #000 #545454 #545454 #000;
    color: #ffffff;
    white-space: nowrap;
  }
}

@media only screen and (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #222;
  }

  header {
    background-color: #e5e5e5;

    /* Header decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  footer {
    background-color: #e5e5e5;

    /* Footer decoration 
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  code {
    background-color: #e5e5e5;
  }

  .inverted code {
    background-color: #fff;
  }

  blockquote {
    border-left: 0.3125em solid #333;
  }

  details,
  summary {
    background-color: #e5e5e5;
  }

  details :focus {
    outline-color: #26D9D6;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    padding: 0 0.3125em 0.625em;
    width: 50%;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -0.3125em;
  }

  /* Clear floats after the columns */
  .row:after {
    clear: both;
    content: "";
    display: table;
  }

  /* Responsive columns */
  @media screen and (max-width: 37.5em) {
    .column {
      margin-bottom: 0.625em;
      width: 100%;
    }
  }

  .card {
    background-color: #e5e5e5;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background-color: #e5e5e5;
    border-color: #545454 #000 #000 #545454;
    color: #222;
  }

  button :focus {
    outline-color: #055252;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  /* General anchor styles */
  a {
    outline-color: transparent;
  }

  a:link {
    color: #055252;
    text-decoration: underline;
  }

  a:visited {
    color: #055252;
    text-decoration: underline;
  }

  a:focus {
    outline-color: #26D9D6;
    outline-width: 0.25em;
    outline-style: solid;
    border-radius: 0.25em;
  }

  a:hover {
    color: #055252;
    outline-color: transparent;
    text-decoration: underline;
  }

  a:active {
    outline-color: transparent;
  }

  /* Button styles */
  .btn a {
    border: 0.125em solid #222;
    border-radius: 0.25em;
    border-color: #545454 #000 #000 #545454;
    cursor: pointer;
    margin-top: 0em;
    padding: 0.1em 0.15em 0.15em 0.15em;
    text-align: start;
    background-color: #e5e5e5;
    color: #222;
    text-decoration: none;
    white-space: nowrap;
  }

  .btn a:visited {
    color: #222;
    margin: auto;
    padding: 0.0625em;
    white-space: nowrap;
  }

  .btn a:focus {
    border-radius: 0.25em;
    border: 0.125em solid #222;
    font-weight: normal;
    white-space: nowrap;
  }

  .btn a:hover {
    border-color: #545454 #000 #000 #545454;
    white-space: nowrap;
  }

  .btn a:active {
    border-color: #000 #545454 #545454 #000;
    white-space: nowrap;
  }

  /* Active button (higher specificity) */
  .btn a.active {
    background-color: #055252;
    border-color: #000 #545454 #545454 #000;
    color: #ffffff;
    font-weight: bold;
    white-space: nowrap;
  }

  /* Completed Collection */
  .btn a.current {
    background-color: #055252;
    border-color: #000 #545454 #545454 #000;
    color: #ffffff;
    white-space: nowrap;
  }

}

@media only screen and (max-width: 15em) {

  .grid-flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .bottom-nav-flex-container>code {
    width: auto;
    gap: 10px;
  }

}

@media only screen and (min-width: 15em) and (max-width: 20em) {

  .grid-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .bottom-nav-flex-container>code {
    width: auto;
    gap: 10px;
  }

}

@media only screen and (min-width: 20em) and (max-width: 30em) {

  .grid-flex-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .bottom-nav-flex-container>code {
    width: auto;
    gap: 10px;
  }

}

@media only screen and (min-width: 30em) and (max-width: 40em) {

  .grid-flex-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .bottom-nav-flex-container>code {
    width: 8em;
  }

}

@media only screen and (min-width: 40em) and (max-width: 50em) {

  .grid-flex-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }

}

@media only screen and (min-width: 50em) {

  .grid-flex-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }

}