* {
    box-sizing: border-box;
}

[href="/users/jefbecker.atom"] { display: none; }

.email {
    display: none;
}

dd.homepage {
    display: none;
}

dt.about {
    display: none;
}

body {
    margin: 10px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 16px;
    padding: 0 10px;
    font-family: system-ui;
    background-color: #ffffff;
    color: #000000;
}

.faces {
    margin-bottom: 1em;
    max-width: 600px;
}

h1,
h2,
h3 {
    margin: 10px auto;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 4px;
    padding: 5px;
}

.profile-picture {
    max-width: 100px;
    border-radius: 4px;
}

.flash {
    padding: 0.5em 1em;
    color: #055252;
}

.cols {
    display: grid;
}

a {
    color: #055252;
}

.status-username {
    padding: 5px;
    margin-bottom: 5px;

}

header {
    margin: auto;
    max-width: 800px;
    font-size: 16px;
    padding: 10px;
    font-family: system-ui;
    text-align: center;
    border-radius: 4px;
    background-color: #e5e5e5;
    text-transform: capitalize;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.status-content {
    padding: 5px;
    margin: auto;
    padding: 5px;
}

.status nav {
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px;
}

.status {
    background-color: #e5e5e5;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px;
}

dt {
    background-color: #e5e5e5;
    text-align: left;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;

}

dd {
    padding-top: 10px;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 1em;
}

.edit-status {
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}

.tools {
    list-style-position: inside;
    padding-left: 0;
}

@media (min-width: 650px) {
    .cols {
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
    }
}

.radio {

    display: inline-block
}

.field {

    margin-bottom: 1rem;
    max-width: 500px;
}

.field>label {

    margin-bottom: .25rem;
}

.field>* {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.info {

    margin-bottom: 1em;
}

/* Emoji picker */
/*#emoji-picker-panel input[type="radio"] {*/
/*    display: none;*/
/*}*/
/*#emoji-picker-panel label {*/
/*    display: flex;*/
/*    padding: 2px;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*}*/
/*#emoji-picker-panel input[type="radio"]:checked + label {*/
/*    background: darkturquoise;*/
/*    border-radius: 4px;*/
/*}*/

@media only screen and (prefers-color-scheme: dark) {
    body {
        margin: 10px auto;
        max-width: 800px;
        line-height: 1.6;
        font-size: 16px;
        padding: 0 10px;
        font-family: system-ui;
        background-color: #222;
        color: #ffffff;
    }

    .faces {
        margin-bottom: 1em;
        max-width: 600px;
    }

    h1,
    h2,
    h3 {
        margin: 10px auto;
        text-align: center;
        background-color: #333;
        border-radius: 4px;
        padding: 5px;
    }

    .profile-picture {
        max-width: 100px;
        border-radius: 4px;
    }

    .flash {
        padding: 0.5em 1em;
        color: #055252;
    }

    .cols {
        display: grid;
    }

    a {
        color: #26D9D6;
    }

    .status-username {
        padding: 5px;
        margin-bottom: 5px;

    }

    header {
        margin: auto;
        max-width: 800px;
        font-size: 16px;
        padding: 10px;
        font-family: system-ui;
        text-align: center;
        border-radius: 4px;
        background-color: #333;
        text-transform: capitalize;
    }

    img {
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .status-content {
        padding: 5px;
        margin: auto;
        padding: 5px;
    }

    .status nav {
        text-align: left;
        font-size: 16px;
        margin-left: 5px;
        padding: 5px;
    }

    .status {
        background-color: #333;
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 5px;
    }

    dt {
        background-color: #333;
        text-align: left;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;

    }

    dd {
        padding-top: 10px;
        margin-left: 5px;
        text-align: left;
        margin-bottom: 1em;
    }

    .edit-status {
        width: 100%;
        box-sizing: border-box;
        height: 100px;
    }

    .tools {
        list-style-position: inside;
        padding-left: 0;
    }

    @media (min-width: 650px) {
        .cols {
            grid-template-columns: 1fr 2fr;
            grid-gap: 10px;
        }
    }

    .radio {

        display: inline-block
    }

    .field {

        margin-bottom: 1rem;
        max-width: 500px;
    }

    .field>label {

        margin-bottom: .25rem;
    }

    .field>* {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .info {

        margin-bottom: 1em;
    }

    /* Emoji picker */
    /*#emoji-picker-panel input[type="radio"] {*/
    /*    display: none;*/
    /*}*/
    /*#emoji-picker-panel label {*/
    /*    display: flex;*/
    /*    padding: 2px;*/
    /*    text-align: center;*/
    /*    cursor: pointer;*/
    /*}*/
    /*#emoji-picker-panel input[type="radio"]:checked + label {*/
    /*    background: darkturquoise;*/
    /*    border-radius: 4px;*/
    /*}*/

}